<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="en" content="{{ page.description }}">
    <meta name="author" content="Emilio Coppa">
    <meta name="robots" content="index, follow">

    <!-- icons -->
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <!-- Override CSS file - add your own CSS rules -->
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>

  <body>
    <div class="container">
      
      <div class="header">
        <div style="float: left; margin: -25px 5px 0px -5px;" >
          <img src="assets/img/sapienza.png" alt="sapienza" />
        </div>
        <div style="margin: 20px 0px 25px 0px;">
          <h2 class="header-heading" >Software Analysis and Optimization Laboratory</h2>
          <h3 class="header-heading" >at Sapienza University of Rome </h3>
          <h3>&nbsp;</h3>
        </div>
      </div>

      <div class="nav-bar">
        <ul class="nav">
          <li><a href="/#people">People</a></li>
          <li><a href="/#projects">Projects</a></li>            
          <li><a href="/#opportunities">Opportunities</a></li>
          <li><a href="/#publications">Publications</a></li>
          <li><a href="/#grants">Grants</a></li>
          <li><a href="/seminars.html">Seminars</a><img src="assets/img/it.jpg" alt="italian" heigth="5px" /></li>
        </ul>
      </div>

      <div class="content">
        <div class="main">
          {{ content }}
        </div>
      </div>

      <div class="footer">
        SEASON Lab - Sapienza University of Rome
      </div>
    </div>
  </body>
</html>
